#content{
text-align:center;
    padding-top:25%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);

}
html{
    height: 100%;
}
body{
    background: url("https://images.unsplash.com/photo-1516007049085-2a9077b4b512?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
    background-size:cover;
    font-family: 'Lato', sans-serif;
}
h1{
    font-weight: 700;
    font-size:5em;
    color: #0169CE;
}
h3{
color:#FF5300;
    font-weight: 700;
}
.navbar-inverse .navbar-brand{
    color: #0169CE;
}
hr{
    width:400px;
    border-top:1px solid #f8f8f8;
    border-bottom:1px solid rgba(0,0,0,0.2);
}
a i,button i{
    margin-right:9px;
}

